/* Estilos generales */
body {
    background-color: #210002;
    margin: 0; /* Elimina el margen por defecto */
    padding: 0; /* Elimina el relleno por defecto */
    font-family: 'Poppins', sans-serif; /* Fuente Poppins en todo el documento */
}

/* Menú de navegación */
.menu {
    background: linear-gradient(520deg, #ffffff, #e6a630);
    padding: 20px; /* Ajusta el relleno superior e inferior del menú */
    
    position: fixed; /* Fija el menú en la parte superior */
    width: 100%; /* Asegúrate de que el menú ocupe todo el ancho de la página */
    top: 0; /* Coloca el menú en la parte superior */
    left: 0;
    z-index: 1000; /* Asegúrate de que el menú esté por encima de otros elementos */
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex; /* Muestra los elementos de la lista en una fila horizontal */
    justify-content: left; /* Alinea los elementos a la izquierda */
}

.menu li {
    margin: 0 10px; /* Espacio entre los elementos del menú */
}

.menu li a {
    text-decoration: none;
    color: #591F1D;
    font-size: 18px;
    transition: color 0.3s;
}

.menu li a:hover {
    color: #FD0003;
}

/* Contenido principal */
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px; /* Asegúrate de que el contenido no quede oculto detrás del menú fijo */
}

/* Sección de Inicio de Viaje */
.journey-contact {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 30px;
    gap: 20px; /* Espacio entre los recuadros */
    flex-wrap: wrap; /* Permite que los recuadros se ajusten si es necesario */
}

.start-journey {
    background: linear-gradient(135deg, #36136b, #330f4f, #b339ff);
    padding: 50px;
    border-radius: 10px;
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    width: calc(50% - 20px); /* Ajuste para el espacio entre los recuadros */
    box-sizing: border-box; /* Incluye el padding y border en el ancho total */
    flex: 1;
    min-width: 300px; /* Ajusta el tamaño mínimo para dispositivos móviles */
}

/* Estilo para el mensaje dentro del recuadro */
.start-message, .result-box {
    max-width: 100%;
    font-size: 28px;
    margin-bottom: 10px;
}

.start-message p, .result-box p {
    font-size: 18px;
}

.start-button button {
    background-color: #ffffff;
    color: #812bc7;
    border: none;
    padding: 15px 30px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.start-button button:hover {
    background-color: #1c0571;
    transform: scale(1.1);
    box-shadow: 0 8px 14px rgba(0, 0, 0, 0.2);
}

/* Sección de Resultados */
.results {
    background-color: #460509;
    padding: 50px;
    border-radius: 10px;
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    width: 100%;
    max-width: 1200px;
    margin: 50px auto;
}

.results-content {
    display: flex;
    justify-content: space-between;
    gap: 20px; /* Espacio entre los recuadros */
    flex-wrap: wrap; /* Permite que los recuadros se ajusten si es necesario */
    margin-bottom: 30px;
}

.results .result-box, .results .additional-result-box {
    width: calc(33.33% - 20px); /* Ajuste para el espacio entre los recuadros */
    background: linear-gradient(135deg, #460509, #8d550c);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    box-sizing: border-box;
    min-width: 300px; /* Ajusta el tamaño mínimo para dispositivos móviles */
    transition: transform 0.3s, box-shadow 0.3s; /* Transición suave para el efecto */
}

.results .result-box h3, .results .additional-result-box h3 {
    font-size: 22px;
    margin-bottom: 10px;
}

.results .result-box p, .results .additional-result-box p {
    font-size: 16px;
}

/* Efecto de agrandamiento para los recuadros de resultados y otros recuadros */
.results .result-box:hover, .results .additional-result-box:hover, .info-box:hover {
    transform: scale(1.05); /* Aumenta el tamaño del recuadro en un 5% */
    box-shadow: 0 8px 14px rgba(0, 0, 0, 0.3); /* Aumenta la sombra para destacar el recuadro */
}

/* Estadísticas */
.stats {
    display: flex;
    justify-content: space-between;
    gap: 20px; /* Espacio entre los elementos */
    flex-wrap: wrap; /* Permite que los recuadros se ajusten si es necesario */
    margin-top: 30px;
}

.stat-box {
    background: linear-gradient(135deg, #460509, #8d550c);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: calc(33.33% - 20px); /* Ajuste para el espacio entre los recuadros */
    box-sizing: border-box;
    min-width: 200px; /* Ajusta el tamaño mínimo para dispositivos móviles */
    transition: transform 0.3s, box-shadow 0.3s; /* Transición suave para el efecto */
}

.stat-box p {
    font-size: 36px;
    margin: 0;
}

.stat-box h4 {
    font-size: 18px;
    margin: 10px 0 0;
}

/* Contenido Adicional */
.additional-content {
    max-width: 70%;
    text-align: center;
    margin-top: 50px;
}

.additional-content h2 {
    font-size: 28px;
    margin-bottom: 20px;
    background: linear-gradient(135deg, #9716ec, #f3eab8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.additional-content p {
    font-size: 18px;
    margin-bottom: 20px;
}

.info-boxes {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap; /* Permite que los recuadros se ajusten si es necesario */
    margin-top: 20px;
}

.info-box {
    background: linear-gradient(135deg, #7b2dab, #bd9dd5);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: calc(33.33% - 20px);
    text-align: center;
    box-sizing: border-box;
    min-width: 300px; /* Ajusta el tamaño mínimo para dispositivos móviles */
    transition: transform 0.3s, box-shadow 0.3s; /* Transición suave para el efecto */
}

.info-box h3 {
    font-size: 22px;
    margin-bottom: 10px;
}

.info-box p {
    font-size: 16px;
}

/* Galería de Imágenes */
.image-gallery {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.image-gallery img {
    width: 200px;
    margin: 0 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
