html {
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-weight: inherit;
    font-family: inherit;
}

body {
    height: 100vh;
    color: #f0f0f0;
    background: #101522;
    background-blend-mode: hard-light;
    background-image: radial-gradient(circle at 20% 20%, #34074e67 10%, #ffcc7000 50%),
                      radial-gradient(circle at 80% 80%, #0033ff66 10%, #0033ff00 50%),
                      radial-gradient(ellipse at 35% 70%, #4a028d66 10%, #00ff4800 50%),
                      radial-gradient(ellipse at 70% 35%, #ff005d66 10%, #ff005d00 60%);
    background-size: 250% 250%;
    animation: background-animation 30s infinite;
}

@keyframes background-animation {
    0% { background-position: 5% 0%; }
    25% { background-position: 20% 80%; }
    50% { background-position: 96% 100%; }
    75% { background-position: 80% 10%; }
    100% { background-position: 5% 0%; }
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(520deg, #000000c5, #e6a63000, #e6a63000);
    padding: 20px;
    z-index: 1000;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: left;
}

.menu li {
    margin: 0 10px;
}

.menu li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    transition: color 0.3s;
}

.menu li a:hover {
    color: #ffcc70;
}

.header {
    background-color: rgba(0, 0, 0, 0.384);
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-top: 80px; /* Añadir margen superior para compensar el menú fijo */
    width: 100%;
}

h1 {
    color: #fff;
    font-size: 2.5em;
}

.container {
    display: flex;
    justify-content: space-around;
    padding: 50px;
    flex-wrap: wrap;
}

.solution-card {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    padding: 20px;
    width: 310px;
    text-align: center;
    box-shadow: 0 4px 15px rgba(255, 255, 255, 0.555);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Distribuye el contenido para que el botón esté abajo */
    height: 450px; /* Asegura que todos los recuadros tengan la misma altura */
}

.solution-card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
}

h2 {
    color: #fff;
    margin-bottom: 15px;
}

p {
    color: #fdfdfd;
    margin-bottom: 10px;
    flex-grow: 1; /* Permite que el texto ocupe el espacio disponible */
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    font-family: ;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    background: linear-gradient(135deg, #000000f5 0%, #00000046 100%);
    border-radius: 50px;
    box-shadow: 0 0px 30px 6px rgba(255, 255, 255, 0.5);
    transition: all 0.3s ease-in-out;
    margin-top: 20px;
}

.btn:hover {
    transform: translateY(3px);
    box-shadow: none;
   
}

.btn:active {
    opacity: 0.8;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .solution-card {
        margin-bottom: 20px;
        width: 90%;
    }
}
