body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    background-image: url(https://s3.abcstatics.com/abc/www/multimedia/bienestar/2023/07/10/atardecer-verano-1-R6funi5jYXxtpImvVtH33OO-1200x840@abc.jpg);
    background-size: cover; /* La imagen cubre toda la pantalla */
    background-repeat: no-repeat; /* La imagen no se repite */
    background-position: center; /* Centra la imagen en la pantalla */
}

.header {
    background-color: rgba(255, 160, 122, 0.7);
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    margin: 0;
    color: #fff;
    font-size: 2.5em;
}
a {
    font-size: 0.8em;
}
.container {
    display: flex;
    justify-content: space-around;
    padding: 50px;
}

.solution-card {
    background: rgba(240, 161, 58, 0.658);
    border-radius: 15px;
    padding: 20px;
    width: 250px;
    text-align: center;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.solution-card:hover {
    transform: scale(1.05);
}

h2 {
    color: #fff;
    margin-bottom: 15px;
}

p {
    color: #444;
}

/* From Uiverse.io by Codecite */ 
.btn {
    transition: all 0.3s ease-in-out;
    font-family: "Dosis", sans-serif;
  }
  
  .btn {
    width: 150px;
    height: 60px;
    border-radius: 50px;
    background-image: linear-gradient(135deg, #feb692 0%, #ea5455 100%);
    box-shadow: 0 20px 30px -6px rgba(238, 103, 97, 0.5);
    outline: none;
    cursor: pointer;
    border: none;
    font-size: 24px;
    color: white;
  }
  
  .btn:hover {
    transform: translateY(3px);
    box-shadow: none;
  }
  
  .btn:active {
    opacity: 0.5;
  }

.extra-info {
    margin-top: 15px;
    display: none;
    color: #fff;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .solution-card {
        margin-bottom: 20px;
    }
}
